aside {
    z-index: 100;
    transition-property: all;
    transition-duration: 150ms;
    transition-timing-function: linear;
}

#aside-arrow {
    transition: inherit;
    position: fixed;
    top: 0px; left: 0px;
    width: 50px; height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba( 0, 0, 0, 0 );
    cursor: pointer;
}

#aside-arrow:hover {
    background: rgba( 0, 0, 0, 0.5 );
    color: #EEEEEE;
}

#aside-arrow:active {
    background: rgba( 0, 0, 0, 1 );
}

#aside-arrow.close {
    left: -50px;
}


#aside-menu {
    transition: inherit;
    position: fixed;
    top: 0px; left: -100%;
    width: 100vw; height: 100vh;
    background: none;
    cursor: pointer;
    color: #EEEEEE;
}

#aside-menu .content {
    transition: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: calc( 50% - 125px ); left: -100%;
    width: 100vw; height: 250px;
    background: rgba( 0, 0, 0, 0.8 );
    cursor: default;
}

#aside-menu.open {
    left: 0%;
}

#aside-menu.open .content {
    left: 0%;
}


#aside-menu .content div {
    transition: inherit;
    width: 150px; height: 150px;
    border: 3px solid;
    border-color: #9E9E9E;
    color: #9E9E9E;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    cursor: pointer;
}

#aside-menu .content div span {
    text-align: center;
}

#aside-menu .content div:hover {
    border-color: #EEEEEE;
    color: #EEEEEE;
}

#aside-menu .content div:active {
    transition: none;
    border-color: #FF6F00;
    color: #FF6F00;
}
